extends layout

block content
  h1 Election

  p Organized by: #{election.organizer}

  p Total Voters: #{election.voters.length}

  p Administrator Public Key:

  pre
    #{election.adminKey}

  a(href="/administrator/publicKey/#{election.id}")
      button
        | Download public key


  hr

  if (election.stage == "ended")
    a(href="/counter/results/#{election.id}")
        button
          | See election results

  else
    h4 Submit a vote

    h5 Step 1:
        a(href="/administrator/signBallot?eid=#{election.id}")
          | Get ballot signed
    h5 Step 2:
        a(href="/counter/collect?eid=#{election.id}")
          | Submit signed ballot

