extends layout

block content
  h1 Organizer Panel
  p
    | Your Kerberos: #{user.kerberos}
  p
    | Your Name    : #{user.name}




  h4 Your Elections

  table.ui-full-width
    thead
      th electionID
      th election status
      th # registered
      th # votes
      th actions
    tbody


      for election in elections
        tr
          td
            a(href="/election/#{election._id}") #{election._id}
          td #{election.stage}
          td #{election.voters.length}
          td #{election.ballots.length}
          td
            if election.stage != "ended"
                form(method="post" action="endElection")
                    input(hidden name="electionID" value="#{election._id}")
                    button.button(type="submit") end
            else
              a(href="/counter/results/#{election._id}")
                button.button
                  | results




  a(href="/organizer/createElection")
    button.button-primary
      | Create Election



